<h1>New Quiz</h1> <br>
<%= link_to 'Login', controller: 'login' %> <br>
<%= link_to 'Register', controller: 'register' %> <br>

<%= link_to 'Quiz List', controller: 'new_quizzes' %> <br>
<%= link_to 'NewQuiz', controller: 'new_quizzes' %><br>
<%= link_to 'Welcome', controller: 'welcome' %> <br>


<%= render 'form' %>
