<%= link_to 'Login', controller: 'login' %> <br>
<%= link_to 'Register', controller: 'register' %> <br>

<%= link_to 'Quiz List', controller: 'list' %> <br>
<%= link_to 'NewQuiz', controller: 'new_quiz' %><br>
<%= link_to 'Welcome', controller: 'welcome' %>
<h1>New Quiz</h1>
<%= link_to 'Quiz List', controller: 'list' %>
<p>
<p>
  <form>
    <strong>Quiz:</strong>
    <input = "text" name = "quizname">
  <br>
    <strong>Topic:</strong>
    
    <input = "text" name = "topic">
  <br>
  
  
  
  <strong>Question:</strong>
  <textarea name="question" rows="10" cols="30">Enter your Question
  </textarea>
  
  <br>
  <input type="radio" name="option" value = "optionA">A:<input type="text" name="optionAAnswer">
  <br>
  <input type="radio" name="option" value = "optionB">B:<input type="text" name="optionBAnswer">
  <br>
  <input type="radio" name="option" value = "optionC">C:<input type="text" name="optionCAnswer">
  <br>
  <input type="radio" name="option" value = "optionD">D:<input type="text" name="optionDAnswer">
  <br>
  <input type="submit" name="create" class="submit">
  </form>
</p>

