 <p>
 <strong>Quiz:</strong>
 <%= @quiz.name %>
 <br>
  <strong>Topic:</strong>
  <%= @quiz.topic %>
  <br>
  <strong>Question:</strong>
  <%= @quiz.question %>
   <br>
   
   <%= @quiz.optionA %>
   <%= @quiz.optionAAnswer %>
   <br>
   <%= @quiz.optionB %>
   <%= @quiz.optionBAnswer %>
   <br>
   <%= @quiz.optionC %>
   <%= @quiz.optionCAnswer %>
   <br>
   <%= @quiz.optionD %>
   <%= @quiz.optionDAnswer %>
  </p>